@media (max-width: 1200px) {
    header{
        nav .menu .menu_link{
            font-size: 13px;
        }

        .subheader {
            .tel{
                font-size: 18px;
            }

            button{
                font-size: 12px;
            }
        }
    }

    .promo{
        .title{
            font-size: 50px;
        }

        .subtitle{
            font-size: 30px;
        }
    }

    .section_2{
        .block{
            align-items: flex-start;

            .desc{
                width: 325px;
            }
        }
    }

    .Opportunities .mobile_item{
        width: 300px;

        &_subtitle{
            font-size: 18px;
        }
    }

    footer .wrapper .footer_links{
        width: 320px;

        .footer_social_main a{
            font-size: 13px;
        }

        .footer_social_sub a{
            font-size: 9px;
        }
    }
}

@media (max-width: 991px){
    header{
        nav .menu .menu_link{
            font-size: 10px;
        }

        .subheader{
            .subheader_logo-title{
                font-size: 12px;
            }

            button{
                font-size: 12px;
                padding: 10px 10px;
            }

            .col-md-2{
                width: 23%;
            }
        }
    }
    
    .promo{
        .title{
            font-size: 40px;
        }

        .subtitle{
            font-size: 25px;
        }

        .desc{
            font-size: 16px;
            line-height: 20px;
        }
    }

    .section_2{
        .block{
            flex-direction: column;
            align-items: center;

            .desc{
                margin-top: 10px;
            }
        }
    }

    .Opportunities .mobile_item{
        width: 220px;
        height: 250px;
    }

    .uber-X{
        img{
            width: 100%;
        }
    }

    footer{
        .wrapper{
            display: block;

            .size{
                width: 100%;
            }

            .footer_social{
                margin: 0 auto;
            }

            .footer_social_network{
                margin: 0 auto;
            }
        }
    }
}

@media (max-width: 767px){
    header{

        nav{

            .menu{
                position: fixed;
                top: 0;
                left: -100%;
                width: 50%;
                height: 100vh;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 20px 10px;
                background-color: rgba(0, 0, 0, .8);
                transition: 0.6s all;
                &_active{
                    left: 0;
                    z-index: 5;
                }

               &_item{
                    .menu_link{
                        font-size: 20px;
                    }
               }
            }

            .hamburger{
                display: block;
                position: absolute;
                right: 10px;
                top: 50%;
                transform: translateY(-50%);
                width: 20px;
                height: 12px;

                span{
                    display: block;
                    width: 26px;
                    height: 2px;
                    background-color: #ffffff;
                    margin-bottom: 2px;
                    transition: 0.5s all;
                }

                &_active{
                    span{
                        margin-bottom: -2px;
                        &:nth-child(1){
                            transform: rotate(45deg);
                        }
                        &:nth-child(2){
                            display: none;
                        }
                        &:nth-child(3){
                            transform: rotate(-45deg);
                        }
                    }
                }
            }
        }
        .subheader{

            .xs-hidden{
                display: none;
            }

            .xs-visited{
                display: block;
            }

            .tel{
                font-weight: 400;
                font-size: 16px;
                margin: 10px 20px;
            }

            .btn-par{
                position: relative;
            }

            button{
                display: block;
                position: absolute;
                right: 20px;
                top: 15px;
            }
        }
    }

    .promo{
        .subtitle{
            font-size: 30px;
            line-height: 45px;
        }
    }

    footer{
        .wrapper{
            display: block;

            .size{
                width: 100%;
            }
    
            .footer_social{
                margin: 0 auto;
            }
    
            .footer_social_network{
                margin: 0 auto;
            }
        }
    }
}

@media (max-width: 575px){

   header{
       nav{
        .menu{
            width: 80%;

            .menu_item{
                width: 100%;
                text-align: center;
            }
        }

       }

       .subheader{
           .subheader_logo{
               padding-top: 35px;
           }

           .subheader_logo-title{
               display: none;
           }

           .tel{
               font-size: 12px;
               margin: 10px 25px;
           }

           button{
               padding: 6px 6px;
           }
       }
   }
    
    .promo{
        min-height: 600px;
        .title{
            font-weight: 900;
            font-size: 30px;
            line-height: 30px;
        }

        .subtitle{
            line-height: 20px;
            font-size: 20px;
            font-weight: 900;
        }

        .desc{
            display: none;
        }
    }

    .section_title{
        font-size: 16px;
        font-weight: 700;
        margin-top: 10px;
    }

    .section_subtitle{
        font-size: 14px;
        font-weight: 400;
    }

    .section_2{

        .block{
            .desc{
                width: 300px;
                margin-top: 20px;
                .subtitle{
                    font-size: 16px;
                }
        
                .text{
                    font-size: 14px;
                }
            }
        }
    }

    .uber-X{
        min-height: 500px;
        padding-bottom: 10px;

        .tagline{
            color: black;
        }
    }

    .conditions{
        padding-top: 20px;
    }

    .world{
        .link{
            a{
                font-size: 12px;
            }
        }
    }

    footer{
        .wrapper{
            display: block;

            .size{
                width: 100%;
            }

            .footer_social{
                margin: 0 auto;
            }

            .footer_social_network{
                margin: 0 auto;
            }
        }
    }
}