$WHITE-COLOR: #ffffff;
$BLUE-COLOR: #1EACC7;

@mixin btn{
    &:hover{
        background-image: none;
        background: $BLUE-COLOR;
    }
}


*{
    font-family: 'Roboto', sans-serif;
}

header{
    position: relative;
    nav{
        min-height: 50px;
        background-color: #212121;
    
        .menu{
            padding: 10px 70px;
            margin: 0;
            list-style-type: none;
            display: flex;
            justify-content: space-around;

            .menu_link{
                text-decoration: none;
                color: #DCDCDC;
                font-size: 15px;
                font-weight: 300;

                &:hover{
                    color: #ffffff;
                }
            }
        }
    }

    .subheader{
        min-height: 80px;
        background-color: rgba(0, 0, 0, 0.6);
        position: absolute;
        width: 100%;

        .subheader_logo{
            max-width: 100%;
            padding-top: 17px;
        }

        .subheader_logo-title{
            color: #ffffff;
            font-weight: 400;
            font-size: 13px;
            opacity: 0.5;
            margin: 5px 0;
        }

        .call{
            color: #ffffff;
            font-size: 12px;
            font-weight: 300;
            padding-top: 17px;
            text-align: right;
        }

        .tel{
            color: #ffffff;
            font-size: 22px;
            font-weight: 400;
            text-decoration: none;
            display: block;
            text-align: right;
        }

        button{
            color: #ffffff;
            font-size: 14px;
            font-weight: 400;
            text-transform: uppercase;
            padding: 12px 6px;
            background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
            border-radius: 5px;
            margin-top: 19px;
            @include btn();
        }
    }
}

.promo{
    min-height: 800px;
    background: url('../img/bg/uber_bg.png') center center/ cover no-repeat;
    padding: 150px 0 135px 0;

    .title{
        color: #ffffff;
        font-weight: 700;
        font-size: 60px;
        text-transform: uppercase;
        text-align: center;
        padding-top: 70px;
        margin: 0;
    }

    .subtitle{
        color: #ffffff;
        font-weight: 700;
        font-size: 36px;
        text-transform: uppercase;
        text-align: center;
        line-height: 60px;
        margin: 0;
        margin-top: 22px;
    }

    .desc{
        color: #ffffff;
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        text-align: center;
        margin-top: 20px;
    }

    button{
        color: #ffffff;
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
        padding: 12px 6px;
        background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
        border-radius: 5px;
        display: block;
        margin: 0 auto;
        margin-top: 100px;
        @include btn();
    }
}

.label{
    color: white;
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    padding: 10px 5px;
    background-color: black;
    width: 115px;
    margin: 0 auto;
    margin-top: 20px;
}

.section_title{
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-top: 30px;
}

.section_2{
    padding: 71px 0 65px 0;

    .block{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        .logo{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 115px;
            height: 115px;
            background-color: #1EACC7;
            border-radius: 100%;
        }

        .desc{
            width: 343px;
            margin-left: 25px;

            .subtitle{
                color: #1EACC7;
                font-weight: 400;
                font-size: 17px;
            }

            .text{
                font-weight: 300;
                font-size: 15px;
                line-height: 21px;
                margin-top: 5px;
            }
        }
    }
}

.section_subtitle{
    font-size: 17px;
    font-weight: 400;
    text-align: center;
}

.Opportunities{
    min-height: 850px;
    padding: 50px 0 80px 0;
    background: url('../img/bg/mobile_bg.png') center center/ cover no-repeat;

    .mobile_item{
        width: 320px;
        height: 280px;
        margin: 0 auto;
        margin-top: 20px;
        position: relative;
        background: url('../img/mobil/Карточка\ 1.png') center center/ cover no-repeat;

        &_2{
            background: url('../img/mobil/Карточка\ 2.png') center center/ cover no-repeat;
        }
        &_3{
            background: url('../img/mobil/Карточка\ 3.png') center center/ cover no-repeat;
        }
        &_4{
            background: url('../img/mobil/Карточка\ 4.png') center center/ cover no-repeat;
        }
        &_5{
            background: url('../img/mobil/Карточка\ 5.png') center center/ cover no-repeat;
        }
        &_6{
            background: url('../img/mobil/Карточка\ 6.png') center center/ cover no-repeat;
        }

        &_subtitle{
            color: #ffffff;
            font-weight: 400;
            font-size: 24px;
            text-transform: uppercase;
            text-align: center;
            padding-top: 90px;
        }

        .mobile_subtitle_icon{
            width: 30px;
            height: 30px;
            border-radius: 100%;
            background-color: black;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            bottom: 35px;
            left: 50%;
            transform: translateX(-50%);

            &:before{
                content: "";
                display: block;
                width: 14px;
                height: 2px;
                background-color: $WHITE-COLOR;
            }

            &:after{
                content: "";
                display: block;
                width: 2px;
                height: 14px;
                background-color: $WHITE-COLOR;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
            }

            &:hover{
                &:before, &:after{
                    background-color: $BLUE-COLOR;
                    transition: 0.5s all;
                }
            }
        }
    }
}

.uber-X{
    min-height: 900px;
    background: url('../img/bg/Group\ 1.png') center center/ cover no-repeat;
    padding: 55px 0 140px 0;

    .label{
        color: black;
        background-color: #ffffff;
    }

    .section_title{
        color: #ffffff;
    }

    .section_subtitle{
        color: #ffffff;
    }

    img{
        padding-top: 60px;
        display: block;
        margin: 0 auto;
    }

    .tagline{
        font-size: 17px;
        font-weight: 300;
        line-height: 21px;
        text-align: center;
    }
}

.conditions{
    padding: 70px 0;

    .list_block{
        margin: 33px 0;

        &-nmb{
            margin-bottom: 0;
        }
        .list_title{
            color: $BLUE-COLOR;
            font-weight: 400;
            font-size: 22px;
    
            span{
                font-size: 22px;
            }
    
            &-red{
                color: red;
            }
        }
    
        .list{
            margin-top: 20px;
            list-style-type: none;
            padding-left: 50px;
    
            li{
                font-size: 17px;
                font-weight: 300;
                line-height: 24px;
                padding-bottom: 5px;
                position: relative;

                &:before{
                    content: "";
                    position: absolute;
                    left: -33px;
                    top: 50%;
                    transform: translateY(-50%);
                    display: block;
                    width: 20px;
                    height: 21px;
                    background: url('../icon/check_blue.png') center center/ cover no-repeat;
                }
            }

            &_red{
                li{
                    &:before{
                        content: "";
                        background: url('../icon/check_red.png') center center/ cover no-repeat;
                    }
                }
            }
        }
    
        .list_subtitle{
            color: $BLUE-COLOR;
            font-weight: 300;
            font-size: 17px;
        }
    }
}

.world{
    min-height: 717px;
    background: url('../img/bg/world_bg.png')center center/ cover no-repeat;
    padding: 50px 0;
    position: relative;

    .label{
        color: black;
        background-color: $WHITE-COLOR;
    }

    .section_title{
        color: $WHITE-COLOR;
    }

    .section_subtitle{
        color: $WHITE-COLOR;
    }

    .link{
        position: absolute;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);

        a{
            color: $BLUE-COLOR;
            font-size: 15px;
            font-weight: 400;
            text-decoration: none;
            text-transform: uppercase;

            &:hover{
                color: $WHITE-COLOR;
            }
        }
    }
}

footer{
    min-height: 200px;
    padding: 50px 10px;

    .blue_line{
        width: 300px;
        height: 5px;
        background-color: $BLUE-COLOR;
        margin: 0 auto;
    }

    .wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .size{
            width: 33%;
            margin-top: 20px;

            a{
                text-decoration: none;
            }

            &:nth-child(3) {
                display: flex;
                justify-content: flex-end;
            }
        }

        .footer_social{
            width: 150px;
            display: flex;
            justify-content: space-around;

            &_item{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 30px;
                height: 30px;
                background-color: #000000;
                border-radius: 100%;

                i{
                    color: white;
                }
            }
        }

        .footer_links{
            width: 390px;
            margin: 0 auto;

            .footer_social_main{
                display: flex;
                justify-content: space-between;
    
                a{
                    color: #000000;
                    font-size: 15px;
                    font-weight: 300;
                    text-transform: uppercase;

                    &:hover{
                        color: $BLUE-COLOR;
                        font-weight: 400;
                    }
                }
            }
    
            .footer_social_sub{
                display: flex;
                justify-content: space-between;
                margin-top: 10px;

                a{
                    color: #999999;
                    font-size: 11px;
                    font-weight: 300;
                    text-transform: uppercase;

                    &:hover{
                        color: $BLUE-COLOR;
                        font-weight: 400;
                    }
                }
            }
        }
    }
}